<div class="card mb-3 h-100">
  <h3 class="card-header" style="height: 100px">
    <a routerLink="/shop/{{ product.id }}">{{ product.name }}</a>
  </h3>
  <div class="card-body">
    <img src="{{ product.pictureUrl }}" class="img-fluid" />
  </div>

  <div class="card-body">
    <p class="card-text">{{ product.price }} ₾</p>
  </div>
  <div class="btn-group mt-auto">
    <button
      type="button"
      class="btn btn-outline-success fas fa-shopping-basket mr-2"
    ></button>
    <button
      type="button"
      class="btn btn-outline-secondary"
      routerLink="/shop/{{ product.id }}"
    >
      დეტალურად
    </button>
  </div>
</div>
