<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <img
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    src="/assets/images/myLogo.png"
    style="max-height: 70px; border-radius: 50%; margin-right: 10px"
    alt="logo"
    class="logo"
  />

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >მთავარი
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/shop']" routerLinkActive="router-link-active"
          >მაღაზიაG</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="['/context']" routerLinkActive="router-link-active"
          >Context</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="['/repository']" routerLinkActive="router-link-active"
          >Repository</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="['/weather']" routerLinkActive="router-link-active"
          >Weather</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="position-relative">
        <i class="fas fa-shopping-basket fa-2x mr-3 text-white"></i>
        <div class="cart-no">5</div>
      </a>
      <input class="form-control mr-sm-2" type="text" placeholder="ძებნა" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        ძებნა
      </button>
    </form>
  </div>
</nav>
